* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}
/*-------------Variable-------------*/
:root {
  --primary-color: #ff900e;
  --secondary-color: #727272;
  --tertiary-color: #fff4e7;
}
/* for button  */
.btn-primary {
  background-color: var(--primary-color);
  color: #fff;
  font-size: 1.3rem;
  border: none;
  border-radius: 15px;
  padding: 20px 24px;
}
p {
  color: var(--secondary-color);
  margin-top: 18px;
  margin-bottom: 15px;
}
/*----------------
              Header section start
                           ----------------------*/
.header {
  background-color: var(--tertiary-color);
  padding: 50px 180px;
}
/*Nvigation start*/
.navigation-bar {
  display: flex;
  justify-content: space-between;
}
.navigation-bar ul {
  display: flex;
  list-style: none;
}
.navigation-bar ul a {
  text-decoration: none;
  margin-left: 30px;
  color: #000;
  font-size: 1.2rem;
}
/*Navigation end*/

.group-of-architects {
  text-align: center;
}
.group-of-architects div {
  padding: 80px 100px 35px;
}
.group-of-architects h1 {
  font-size: 4rem;
  font-weight: 700;
}
.header-image {
  width: 100%;
  margin-top: 50px;
}
/*----------------
              Header section end
                           ----------------------*/

/*---------------- 
      features-section start 
              --------------*/
.features-section {
  display: flex;
  justify-content: space-between;
  padding: 50px 180px;
}
.features-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  align-content: center;
}
.features-images img {
  width: 300px;
}
.our-features {
  padding: 250px 120px;
}
.our-features h1 {
  font-size: 2.8rem;
}
/*---------------- 
      features-section end
              --------------*/

/*---------------- 
      love & enjoy-section start 
              --------------*/
.love {
  position: absolute; /*for button positioning*/
}
.love-and-enjoy {
  display: flex;
  justify-content: space-between;
  padding: 50px 180px;
}
.love-and-enjoy h1 {
  font-size: 2.8rem;
  font-weight: 700;
}
.love-and-enjoy img {
  width: 100%;
  height: 80vh;
}
.about-love {
  background-color: var(--tertiary-color);
}
.about-love > div {
  background-color: #fff;
}
.love-imgae {
  width: 800px;
}
.btn {
  position: absolute;
  right: 30%;
  bottom: 40px;
}
/*---------------- 
      love & enjoy-section end
              --------------*/
/*--------------------------
                   media queary
                  ------------------------------*/
/* for mobile  */
@media only screen and (max-width: 576px) {
  .header,
  .group-of-architects div,
  .features-section,
  .love-and-enjoy {
    padding: 20px 5px;
    text-align: center;
  }
  .navigation-bar,
  .navigation-bar ul,
  .features-section,
  .love-and-enjoy {
    flex-direction: column;
  }
  .features-images {
    grid-template-columns: repeat(1, 1fr);
  }
  .features-images img,
  .love-and-enjoy img,
  .love-imgae {
    width: 100%;
  }
}

/* For Tablet/Mediam Divice  */
@media only screen and (min-width: 577px) and (max-width: 992px) {
  .header,
  .group-of-architects div,
  .features-section,
  .love-and-enjoy {
    padding: 0 40px;
    text-align: center;
  }
  .features-section,
  .love-and-enjoy {
    flex-direction: column;
  }

  .features-images img,
  .love-and-enjoy img,
  .love-imgae {
    width: 100%;
    object-fit: contain;
  }
}
