* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}
/*-------------Variable-------------*/
:root {
  --primary-color: #ff900e;
  --secondary-color: #727272;
  --tertiary-color: #fff4e7;
}
/* for primary button  */
.btn-primary {
  background-color: var(--primary-color);
  color: #fff;
  font-size: 1.3rem;
  border: none;
  border-radius: 15px;
  padding: 20px 24px;
}
/* For all paragraph tag  */
p {
  color: var(--secondary-color);
  margin-top: 18px;
  margin-bottom: 15px;
}
/*----------------
              Header section start
                           ----------------------*/
.header {
  background-color: var(--tertiary-color);
  padding: 50px 180px;
}
/*Nvigation start*/
.navigation-bar {
  display: flex;
  justify-content: space-between;
}
.navigation-bar ul {
  display: flex;
  list-style: none;
}
.navigation-bar ul a {
  text-decoration: none;
  margin-left: 30px;
  color: #000;
  font-size: 1.2rem;
}
/*Navigation end*/

.group-of-architects {
  text-align: center;
}
.group-of-architects div {
  padding: 80px 100px 35px;
}
.group-of-architects h1 {
  font-size: 4rem;
  font-weight: 700;
}
.header-image {
  width: 100%;
  margin-top: 50px;
}
/*----------------
              Header section end
                           ----------------------*/

/*---------------- 
      features-section start 
              --------------*/
.features-section {
  display: flex;
  justify-content: space-between;
  padding: 50px 180px;
}
.features-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  align-content: center;
}
.features-images img {
  width: 300px;
}
.our-features {
  padding: 250px 120px;
}
.our-features h1 {
  font-size: 2.8rem;
}
/*---------------- 
      features-section end
              --------------*/

/*---------------- 
      love & enjoy-section start 
              --------------*/
.love {
  position: relative; /* for button positioning */
}
.love-and-enjoy {
  display: flex;
  justify-content: space-between;
  padding: 50px 180px;
  gap: 40px;
}
.love-and-enjoy h1 {
  font-size: 2.8rem;
  font-weight: 700;
  border-left: 6px solid var(--primary-color);
  /* height: 100px; */
}
.love-and-enjoy img {
  /* width: 100%; */
  width: 40vw;
  height: 100vh;
  object-fit: contain;
}
.about-love {
  background-color: var(--tertiary-color);
}
.about-love > div {
  background-color: #fff;
}
.love-imgae {
  width: 800px;
}
.btn {
  position: absolute;
  right: 30%;
  bottom: 40px;
}
/*---------------- 
      love & enjoy-section end
              --------------*/
/*---------------- 
               some facts-section start 
              --------------*/
.some-facts {
  padding: 50px 180px;
}
.facts-container {
  display: flex;
  justify-content: space-around;
  margin-top: 80px;
}
.facts-container div {
  height: 241px;
  width: 241px;
  border: 1px solid var(--primary-color);
  border-radius: 15px;
  text-align: center;
  padding: 50px 0;
  margin: 10px;
}
.facts-container div:hover {
  background-color: #de80dc;
  transition: 2s;
  transform: rotate(360deg);
}
.facts-container div h6 {
  color: var(--secondary-color);
  margin-top: 10px;
  font-size: 1.2rem;
}
.facts-container div img {
  height: 55px;
  width: 55px;
  margin-bottom: 15px;
}
/*---------------- 
               some facts-section end
              --------------*/

/*---------------- 
               Sponspors-section start 
              --------------*/
.sponspors {
  padding: 50px 180px;
  text-align: center;
  text-align: center;
}
.sponspors h1 {
  font-size: 3rem;
}
.sponspors-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 35px;
  opacity: 0.5;
}
.sponspors-logo img {
  width: 165.83px;
  height: 50px;
  padding: 10px;
}
/*---------------- 
               Sponspors-section end 
              --------------*/


/*=============
                          -- My grid section start  --
                                         ===========*/
.hand-wash{
  grid-area: hw;
  background-color: #ffe4c4;
}
.cover-mouth{
  grid-area: cm;
  background-color: #5f9ea0;
}
.avoid-travel{
  grid-area: at;
  background-color: #f08080;
}
.medical-care{
  grid-area: mc;
  background-color: #8fed8f;
}
.well-cooked{
  grid-area: wc;
  background-color: #a0a0c8;
}
.avoid-contact{
  grid-area: ac;
  background-color: #d8bfd8;
}
.masonry{
  grid-area: ma;
  background-color: #800000;
  height: 350px;
  font-size: 3rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.grid-section {
  display: grid;
  grid-template-areas: 
  "hw hw cm at"
  "mc wc cm ac"
  "mc ma ma ma";
  padding: 50px 180px;
  gap: 20px;
}
.grid-item {
  gap: 20;
  text-align: center;
  box-shadow: 5px 5px 5px var(--secondary-color);
  border: 1px solid var(--tertiary-color);
  border-radius: 15px;
  width: 100%;
}
.grid-item img {
  width: 100%;
  height: 256px;
}
/*=============
                          -- My grid section end --
                                         ===========*/

/*---------------- 
               footer-section start 
              --------------*/
footer {
  margin: 40px 180px;
  padding: 40px;
  text-align: center;
  background-color: var(--tertiary-color);
  border-radius: 8px;
  font-size: 20px;
  color: #424242;
}
/*---------------- 
               footer-section end
              --------------*/
/*--------------------------
                   media queary
                  ------------------------------*/
/* for mobile  */
@media only screen and (max-width: 576px) {
  .header,
  .our-features,
  .features-section,
  .group-of-architects div,
  .love-and-enjoy,
  .some-facts,
  .sponspors {
    padding: 5px 15px;
    text-align: center;
  }
  .navigation-bar,
  .navigation-bar ul,
  .features-section,
  .love-and-enjoy,
  .facts-container,
  .sponspors-logo {
    flex-direction: column;
  }
  .features-images {
    grid-template-columns: repeat(1, 1fr);
  }
  .features-images img,
  .love-and-enjoy img,
  .love-imgae {
    width: 100%;
    object-fit: contain;
  }
  .btn {
    position: relative;
    bottom: -55px;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    font-size: 1rem;
    padding: 10px;
    margin-bottom: 30px;
  }
  .group-of-architects h1 {
    font-size: 2.5rem;
  }
  .facts-container {
    align-items: center;
  }
  .grid-section {
  grid-template-areas: 
  "hw"
  "cm"
  "wc"
  "mc"
  "at"
  "ac"
  "ma";
  padding: 15px 25px;
  margin: 20px 10px;
}
  footer {
    margin: 25px;
  }
}

/* For Tablet/Mediam Divice  */
@media only screen and (min-width: 577px) and (max-width: 992px) {
  .header,
  .features-section,
  .love-and-enjoy,
  .some-facts,
  .our-features {
    padding: 5px 30px;
    text-align: center;
  }
  .features-section,
  .love-and-enjoy {
    flex-direction: column;
  }
  .btn {
    position: relative;
    bottom: -45px;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
  }
  .features-images img,
  .love-and-enjoy img,
  .love-imgae {
    width: 100%;
    object-fit: contain;
  }
  .facts-container,
  .sponspors-logo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .grid-section {
  grid-template-areas: 
  "hw hw"
  "cm mc"
  "wc mc"
  "at ac"
  "ma ma";
  padding: 5px 30px;
  margin-top: 30px;
}
}
